<section class="portfolio">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="fs-1 fw-bold mt-5 pt-5">PORTFOLIO COMPONENT</h2>
    <div class="d-flex justify-content-center align-items-center">
      <div class="after"></div>
      <i class="fa-solid fa-star ms-3 me-3"></i>
      <div class="befor"></div>
    </div>
  </div>
  <div class="container">
    <div class="row g-4 mt-2 mb-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphotoone" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphototwo" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphotothree" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphotoone" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphototwo" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="photo position-relative">
          <img [src]="Urlphotothree" class="w-100" alt="photo-one" />
          <div class="lorem">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <i class="fa-solid fa-plus text-white fs-1"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
