
.portfolio h2 {
  color: #2c3e50;
}
.after {
  background-color: #2c3e50;
  height: 4px;
  width: 100px;
}
.befor {
  background-color: #2c3e50;
  height: 4px;
  width: 100px;
}
i {
  color: #2c3e50;
}
.lorem {
  cursor: pointer;
  position: absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color: rgba(25, 155, 129 ,0.8);
  transition: 0.5s all;
  opacity: 0;
}
img{
  border-radius: 10px;
}

.photo:hover .lorem {
  opacity: 1;
}
